<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- implies the usage of context:annotation-config tag -->
    <context:component-scan base-package="base"/>

    <context:property-placeholder location="filenames.properties"/>

    <bean id="productRepository" class="base.repository.ProductRepository" primary="true">
        <property name="products">
            <list>
                <ref bean="first"/>
                <ref bean="second"/>
            </list>
        </property>
    </bean>

    <bean id="first" class="base.model.Product">
        <property name="name" value="something"/>
        <property name="id" value="2"/>
    </bean>

    <bean id="second" class="base.model.Product">
        <property name="name" value="another thing"/>
        <property name="id" value="5"/>
    </bean>

    <bean id="storeRepository" class="base.repository.StoreRepository">
        <property name="stock">
            <map key-type="base.model.Product" value-type="java.lang.Integer">
                <entry key-ref="first" value="5"/>
                <entry key-ref="second" value="7"/>
            </map>
        </property>
    </bean>


    <!-- <bean id="fileHandlerProduct" class="base.util.FileHandler" c:filename="products.csv"/> -->
</beans>